body {
  font-family: Arial, sans-serif;
  background-color: #dbeafe;

  display: flex;
  justify-content: center;   /* center horizontally */
  align-items: center;       /* center vertically */

  height: 100vh;
  margin: 0;
}